@model Doctors

@{
    ViewData["Title"] = "Doctor";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/account.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h1>
                    Edit Personal info
                </h1>
                <form asp-action="Edit" method="post">

                    <input asp-for="Staff.Name" class="fadeIn second" placeholder="Name" />
                    <span asp-validation-for="Staff.Name" class="text-danger"></span>
                    <br />
                    <input asp-for="Staff.UserName" class="fadeIn second" placeholder="Username" />
                    <span asp-validation-for="Staff.UserName" class="text-danger"></span>
                    <br />
                    <input asp-for="Staff.Password" type="password" class="fadeIn second" placeholder="Password" value="@Model.Staff.Password"/>
                    <span asp-validation-for="Staff.Password" class="text-danger"></span>
                    <br />
                    <input asp-for="Staff.Email" class="fadeIn second" placeholder="Email" />
                    <span asp-validation-for="Staff.Email" class="text-danger"></span>
                    <br />
                    <label asp-for="Staff.Role"></label>
                    <input asp-for="Staff.Role" class="fadeIn second" placeholder="Role" readonly />
                    <br />
                    <label asp-for="Specialty"></label>
                    <input asp-for="Specialty" class="fadeIn second" placeholder="Specialty" readonly />
                    <br />
                    <label asp-for="Phone"></label>
                    <input asp-for="Phone" class="fadeIn second" placeholder="Phone"  />
                    <br /> 
                    <label asp-for="OfficeAddress"></label>
                    <input asp-for="OfficeAddress" class="fadeIn second" placeholder="OfficeAddress"  />
                    <br />
                    <input type="submit" class="fadeIn fourth" value="Submit" />
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
