@model Staff

@{
    ViewData["Title"] = "Staff";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/account.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h1>
                    Add Staff
                </h1>
                <form asp-action="AddStaff" method="post">
                    <input asp-for="Name" class="fadeIn second" placeholder="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <br />
                    <input asp-for="UserName" class="fadeIn second" placeholder="Username" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    <br />
                    <input asp-for="Email" class="fadeIn second" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <select asp-for="Role" class="fadeIn second">
                        <option value="" disabled selected>Choose Role</option>
                        <option value="Laboratory">Laboratory</option>
                        <option value="Receptionist">Receptionist</option>
                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                    <br />
                    <input type="submit" class="fadeIn fourth" value="Submit" />
                    <a asp-action="Staff">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
